absl-py 
ai-benchmark==0.1.2
aiohttp 
aiosignal 
astunparse 
async-timeout 
attrs 
blinker==1.4
brotlipy 
cached-property 
cachetools
certifi==2021.10.8
cffi 
charset-normalizer 
cryptography
dataclasses 
flatbuffers==2.0
frozenlist 
gast 
google-auth 
google-auth-oauthlib 
google-pasta==0.2.0
grpcio 
h5py 
idna 
importlib-metadata 
keras==2.7.0
Keras-Preprocessing 
libclang==12.0.0
Markdown 
multidict 
numpy 
oauthlib 
opt-einsum 
Pillow==9.0.0
protobuf==3.19.3
psutil==5.9.0
py-cpuinfo==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser 
PyJWT 
pyOpenSSL 
PySocks 
pyu2f 
requests 
requests-oauthlib 
rsa 
scipy 
six 
tensorboard 
tensorboard-data-server
tensorboard-plugin-wit 
tensorflow-estimator==2.7.0
tensorflow-macos==2.7.0
tensorflow-metal==0.3.0
termcolor==1.1.0
tqdm==4.62.3
typing-extensions 
urllib3 
Werkzeug 
wrapt 
yarl 
yolov4==3.2.0
zipp 
